.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#searchBar {
  position: relative;
}

#loupeSearch {
  font-size: 1.3em;
  color: rgb(40, 40, 40);
  position: absolute;
  margin: 0.1em 0 0 0.7rem;
}

#searchMovie {
  font-size: 1em;
  border: 0;
  border-radius: 1em / 50%;
  width: calc(80vw - 3.8rem);
  padding: 0.4rem 1rem 0.4rem 2.8rem;
  background-color: rgb(90, 90, 90);
  color: white;
  transition: 0.4s;
}

#searchMovie:focus {
  background-color: rgb(230, 230, 230);
  color: rgb(40, 40, 40);
}

#searchMovie[value=''] {
  font-style: italic;
}

.h2-genre {
  text-align: left;
  width: 100%;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
}

.h2-genre:first-of-type {
  margin-top: 1rem;
}
